.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.tgitconfig
NEWS.md
*.pot
man/macros

DirichletRegMixture.Rd
DirichMixture.Rd
AIC.DirichletRegMixture.R
DirichMixture.R
print.DirichletRegMixture.R
